<!DOCTYPE HTML>
<html>
	<head>
		<title>Personal Name Card | Juba Matsaberidze</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="is-loading">
			<div id="wrapper">
					<section id="main">
						<header>
							<span class="avatar"><img src="static/images/profile.gif" alt="" style="border-radius: 50%; width: 280px"/></span>
							<h1>Juba Matsaberidze</h1>
							<p>Python Developer | Cybersecurity Specialist </p>
						</header>
						<footer>
							<ul class="icons">
								<li><a href="https://juba-portfolio.netlify.app/" class="fa-home" target="_blank">Portfolio</a></li>
								<li><a href="https://www.instagram.com/j_matsaberidze/" class="fa-instagram" target="_blank">Instagram</a></li>
								<li><a href="https://www.linkedin.com/in/jubiko-matsaberidze-7b66a7204/" class="fa-linkedin" target="_blank">LinkedIn</a></li>
							</ul>
						</footer>
					</section>
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Juba31</li>
							<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>
			</div>
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>
	</body>
</html>